<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <h3>Settings</h3>
    <p>
      <%= f.label :survey_title, 'Title' %>
      <%= f.text_field :survey_title, required: true %><br>
      <%= f.label :survey_description, 'Description' %>
      <%= f.text_area :survey_description %><br>
      <%= f.label :submissions_allowed, 'Allow Multiple Attempts' %>
      <%= f.check_box :submissions_allowed %><br>
      <%= f.label :anonymous_submission, 'Keep Student Identity Anonymous to Other Students'%>
      <%= f.check_box :anonymous_submission %><br>
      <%= f.label :faculty_access, 'Allow Faculty Access to Unique Information' %>
      <%= f.check_box :faculty_access %><br>
    </p>
    <h3>Questions</h3>
    <p>
      <%= f.fields_for :questions do |builder| %>
        <%= render 'question_fields', f: builder %>
      <% end %>
      <!-- add question link here -->
    </p>
    <p><%= f.submit 'Save & Publish' %></p>
  </div>
<% end %>


