<p>
  <%= f.label :question_text, 'Question' %>
  <%= f.text_area :question_text %>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, 'Remove Question' %><br>
  <%= f.label :required, 'Required?' %>
  <%= f.check_box :required %><br>
  <%= f.label :question_type, 'Question Type' %>
  <%= f.select :question_type, ['multiple choice', 'short answer', 'rank'] %><br>
  <%= f.label :order, 'Question Order' %>
  <%= f.text_field :order %><br>
</p>
<%= f.fields_for :responses do |builder| %>
  <%= render 'response_fields', f: builder %>
<% end %>
<!-- add response link here -->