<% if @survey %>
<h1>Survey Preview</h1>

  <h2><%= @survey.survey_title %></h2>
  <p><%= @survey.survey_description %></p>

  <%= form_for(@survey) do |f| %>
    <% @survey.questions.each do |question| %>
      <p><%= question.order %>. <%= question.question_text %></p>
        <!-- add red asterick if question is required -->
        <% if question.question_type == "multiple choice" %>
          <%= f.fields_for :responses do |r| %>
          <!-- unable to get response text to show -->
            <%= r.select :response_text %>
          <% end %>
        <% end %>
    <% end %>
    <p><%= f.submit 'Complete' %></p>
  <% end %>

<% end %>